*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(bg.jpg);
    background-size: cover;
}
.form{
    display:flex;
    justify-content:center;
}
h1{
    display: flex;
    justify-content: center;
    padding-top: 3%;
    padding-bottom:3%;
}
p{
    padding-top: 1%;
    display: flex;
    justify-content: center;
}
label{
    display: flex;
    text-align: center;
}

.button{
    display: flex;
    justify-content: center;
    padding-top: 1%;
}
.left-button{
    margin-right: 10px;
}
.formulaire{
    border: 1px solid;
    box-shadow: 0px 5px 5px black;
    margin-left: 35%;
    margin-right: 35%;

}